body {
  background-color: white;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.error_message{
  color: red;
}

.ue {
  height: 60px;
  width: 100vw;
  background-color: red;
}

.mannaka {

}

.shita {
  height: 60px;
  width: 100vw;
  background-color: red;
}

.moji {
  font-size: 18px;
}

li,a {
  margin: 10;
/*  float: left;*/
  /*padding-right: 10px;*/
  /*display: block;*/
  list-style: none;
  line-height: 5;
}