body {
  background-color: white;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

.error_message{
  color: red;
}

.moji {
  font-size: 20px;
  float: left;
  margin-left: 10px;
}

.hako {
  height: 100px;
  width: 100%;
}

li,a {
  margin: 10;
/*  float: left;*/
  /*padding-right: 10px;*/
  /*display: block;*/
  list-style: none;
  line-height: 5;
}

.ichiran img {
  margin-left: 10px;
}

.ichiran a:hover {
  text-decoration: none;
}

.message {
    position: relative;
}
.message span.remark {
    display: none;
}
.message a:hover span.remark {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #000000;
    display: block;
    line-height: 20px;
    margin-top: 30px;
    padding: 5px;
    position: absolute;
    top: 50px;
    width: 120px;
    font-size: 15px;
    z-index: 10;
}