body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p,.iroiro{
  padding: 10px 10px 0;
  margin: 0;
  color: #EEEEEE;
}

h2{
  text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.contents {
  height: 100vh;
  width: 100vw;
  background-color: #222222;
}

.ue {
  height: 15vh;
  width: 100vw;
  border-top: solid #EEEEEE;
  border-bottom: solid #EEEEEE;
}

.ue h2 {
  font-size: 30px;
}

.mannaka {
  height: 30vh;
  width: 100vw;
  border-bottom: solid #EEEEEE;
}

.mannaka h2 {
  font-size: 100px;
}

.shita {
  height:40vh;
  width: 100vw;
}

.shimashima {
  height: 15vh;
  width: 100vw;
  background-color: #222222;
}

.message{
  height: 100%;
  width: 100%;
  color: #EEEEEE;
  font-size: 30px;
  font-weight: 900;
  line-height: 100px;
  -webkit-text-stroke: 2px #000;
  background-image: url("/assets/images/kachinko.jpg");
  cursor: pointer;
}

.title {
  height: 100%;
  width: 60%;
  background-color: #222222;
  float: left;
}

.date {
  height: 100%;
  width: 40%;
  background-color: #222222;
  float: right;
  border-left: solid #EEEEEE;
  box-sizing: border-box;
}

.scene {
  height: 100%;
  width: 33%;
  background-color: #222222;
  float: left;
  box-sizing: border-box;
  border-right: solid #EEEEEE;
}

.cut {
  height: 100%;
  width: 34%;
  background-color: #222222;
  float: left;
  box-sizing: border-box;
  border-right: solid #EEEEEE;
}

.take {
  height: 100%;
  width: 33%;
  background-color: #222222;
  float: right;
}

.iroiro {
  height: 100%;
  width: 67%;
  background-color: #222222;
  float: left;
  box-sizing: border-box;
  border-right: solid #EEEEEE;
}

.link_box {
  height: 100%;
  width: 33%;
  background-color: #222222;
  float: right;
  font-size: 20px;
}

.link {
  padding: 80px;
  height: 50px;
}

a:link{
  color: #EEEEEE;
  text-decoration: none;
}

a:hover {
text-decoration: underline;
}

a:visited{
  color: #EEEEEE;
}

.judge_box {
  width: 15%;
  height: 100%;
  float: left;
  font-size: 15px;
  line-height: 50px
}

.judge {
  margin: 0 auto;
  padding: 40px;
}

.memo_box {
  width: 55%;
  height: 100%;
  float: left;
}

.memo {
  margin: 0 auto;
  padding: 10px 30px;
}

.save_box{
  width: 30%;
  height: 100%;
  float: left;
}

.save {
  margin: 0 auto;
  padding: 50px;
}

.save input {
  display: inline-block;
  text-decoration: none;
  background: #888888;
  color: #FFFFFF;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-size: 20px;
}

.save input:hover {
    background: #555555;
}

button {
  padding: 0;
  border: none;
  height: 15vh;
  width: 100vw;
  background-color: #222222;
}
