body {
  background-color: #f0f0f0;
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p,.iroiro{
  padding: 10px 10px 0;
  margin: 0;
  color: #EEEEEE;
}

h2{
  text-align: center;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.contents {
  height: 100vh;
  width: 100vw;
  background-color: #222222;
}

.ue {
  height: 15vh;
  width: 100vw;
  border-top: solid #EEEEEE;
  border-bottom: solid #EEEEEE;
}

.ue h2 {
  font-size: 30px;
}

.mannaka {
  height: 30vh;
  width: 100vw;
  border-bottom: solid #EEEEEE;
}

.mannaka h2 {
  font-size: 100px;
}

.shita {
  height:40vh;
  width: 100vw;
}

.shimashima {
  height: 15vh;
  width: 100vw;
  background-color: #222222;
}

.title {
  height: 100%;
  width: 60%;
  background-color: #222222;
  float: left;
}

.date {
  height: 100%;
  width: 40%;
  background-color: #222222;
  float: right;
  border-left: solid #EEEEEE;
  box-sizing: border-box;
}

.scene {
  height: 100%;
  width: 33%;
  background-color: #222222;
  float: left;
  box-sizing: border-box;
  border-right: solid #EEEEEE;
}

.cut {
  height: 100%;
  width: 34%;
  background-color: #222222;
  float: left;
  box-sizing: border-box;
  border-right: solid #EEEEEE;
}

.take {
  height: 100%;
  width: 33%;
  background-color: #222222;
  float: right;
}

.iroiro {
  height: 100%;
  width: 67%;
  background-color: #222222;
  float: left;
  box-sizing: border-box;
  border-right: solid #EEEEEE;
}

.link {
  height: 100%;
  width: 33%;
  background-color: #222222;
  float: right;
}

.kachinko-image {
  height: 100%;
  width: 100%;
}

.judge {
  float: left;
}

.memo {
  float: left;
}

button {
  padding: 0;
  border: none;
  height: 15vh;
  width: 100vw;
  background-color: #222222;
}
