html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%
    width: 100%;
    display: table;
    background-color: #000000;
    background-image: url("/assets/images/welcome.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.box h1 {
    font-size: 35px;
    color: #ffffff;
}

.outline {
    display: inline-block;
    color: #ffffff; /* 文字の色 */
    font-size: 50pt; /* 文字のサイズ */
    letter-spacing: 4px; /* 文字間 */
}

.box {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: table;
    background-color: #00000050;
}

.box button {
    width: 100px;
    height: 40px;
    margin: 10px 10px 0;
    font-size: 15px;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}